<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>

<body>
    <!-- Contenedor superior de iconos -->
    <div>
        <div class="iconos-top">
            <% if (typeof username==='undefined' ) { %>
                <h1>Bienvenido invitado </h1>
                <!-- Usuario no logueado -->
                <a href="/login" title="Iniciar sesi贸n">
                    <img src="/img/acceso.png" alt="Inicar sesi贸n">
                </a>

                <% } else { %>
                    <h1>Bienvenido <% username %>
                    </h1>

                    <a href="/logout" title="Iniciar sesi贸n">
                        <img src="/img/logout.png" alt="Inicar sesi贸n">
                    </a>
                    <% } %>

                    <a href="#" title="Carrito de compras">
                        <img src="/img/carrito.png" alt="Carrito de compra">
                    </a>
        </div>
        <% if (typeof username!='undefined' ) { %>
            <div class="form-container">
                <h2>Hola <%=username%>!</h2>
                <p>Estas en el panel de admin</p>
                <button id="close-session">Cerrar sesi贸n</button>
                <a href="/protected">Seguir administrando</a>
            </div>
        <% } %>
    </div>
    <!--  Contenedor principal -->
    <div class="rectangulo">
        <h1>Silpaza</h1>
        <nav>
            <ul>
                <li><a href="/products">Llistat productes</a></li>
                <li><a href="/books">Llistat serveis</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>